.schedule-element-container {
    margin: 5px;
    width: 264px;
    height: 30px;
    font-family: var(--font);
    display: flex;
    flex-direction: row;
    background-color:var(--another);
    border-radius: var(--border-round-big);

}

.schedule-element-container input{ 
    border: none;
    font-size: 12px;
    font-family: var(--font);
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    flex-shrink: 0;
    outline: none;
    border-radius: var(--border-round-big);
    
    
}
.schedule-element-time {
    background-color:var(--another);
    color: var(--text);
    width: 26%;
    padding-top: 4px;
    height: 80%;
    text-align: center;
    padding-left: 4px;
}
.schedule-element-text {
    text-align: left;
    margin-top: 0.75%;
    margin-left: -25px;
    background-color: var(--secondary);
    color: var(--another);
    width: 76.5%;
    height: 21px;
    padding-top: 4px;
    padding-left: 10px;
}


:root {
    --darker-secondary: #F1C376;
    --another:          #606C5D;
    --primary:          #555555;
    --text:             #F7E6C4;
    --secondary:        #FFF4F4;
    --border-round-small: 20px;
    --border-round-big:   90px;
    --font: 'Overpass', sans-serif;
  }
  