.login-outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--foreground-general);
    height: 100vh;
}

.login-outer-container {
    text-align: center;
    color: var(--text-general);
}

.login-inner-container {
    top: 25%;
    position: absolute;
    background-color: var(--foreground-secondary);
    width: fit-content;
    padding: 50px;
    border-radius: var(--border-radius-big);
    border: var(--border);
    display: grid;
    grid-template-rows: 
    60px 40px var(--button-height) 
    40px var(--button-height) 80px 10px;
}
.login-inner-container input {
    outline: none;
    border:  var(--border);
    border-radius: var(--border-radius-small);
    padding-left: var(--padding-left);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: var(--font-size);
}

.login-outer-container h1 {
    color:var(--text-accent);
    font-size: var(--font-size-headers);
    letter-spacing: 5px;
    margin-top: -10px;
    font-family: var(--font-accent-family);
}
.login-outer-container p {
    color:var(--text-secondary);
    font-size: var(--font-size-small);
}
.login-outer-container h2 {
    color:var(--text-opposite);
    border:  var(--border);
    font-size: var(--font-size-medium);
    background-color: var(--foreground-accents);
    border-radius: var(--border-radius-small);
    outline: none;
    border: var(--border);
    height: fit-content;
    padding: 2.5px;
    margin-top: 50px;
    
}

.login-outer-container h3 {
    font-size: var(--font-size-small);
    color: var(--foreground-accents);
}

