:root {
    --accent: #3d44ff;
    --primary: #dbddff;
    --secondary: #1e2157;    
    --font: rgb(64, 64, 64);
    --font-secondary: #f2f2f2; 
    --font-third: #5e619a ;   
    --border-radius: 10px;
}
