:root {
    --accent: #3d44ff;
    --primary: #dbddff;
    --secondary: #1e2157;    
    --font: rgb(64, 64, 64);
    --font-secondary: #f2f2f2; 
    --font-third: #5e619a ;   
    --border-radius: 10px;
}


.title {
    align-self: center;
    background-color: var(--secondary);
    color: var(--font-secondary);
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}
.title h1 {
    color: var(--font-secondary);
    background-color: var(--secondary);
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    font-size: 32px;
    font-weight: normal;
    padding: 8px;
    text-align: center;
 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.date {
    color: var(--secondary);
    margin-top: -10px;
    text-align: center;
    font-size: small;
}

p {padding-bottom: 10px; padding-left: 10px; word-wrap: break-word;}

label, p, h1, h2 {
    white-space: pre-line;
    margin: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--font);
}

.post, .post_edit {
    border-radius: var();
    font-size: 20px;
    width: 300px;
    background-color: var(--primary) ;
    border-radius: var(--border-radius);
}

.post_edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input,textarea {

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--primary);
    border: 2px solid var(--secondary);
    border-radius: var(--border-radius);
    padding-left: 10px;
    outline:  none;
    width: 260px;
    font-size: 20px;
    align-self: center;
    overflow: hidden;
    margin-bottom: 10px;

}
.textInput {
    height: 100px;
    resize: none;
}

button {
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--accent);
    color: var(--font-secondary);
    margin-left: 25%;
    width: 150px;
    height: 25px;
}

.viewButton {
    margin-top: 10px;
}
.author_post::before {
    content: "by ";
}
label {
    color: var(--font-secondary);
    text-align: center;
    margin: 0;
}

.titleInput {
    color: var(--font-secondary);
    background-color: var(--secondary);
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    outline: 1px solid var(--secondary) ;
    font-size: 32px;
    text-align: center;
    width: 95%;
    padding: 5px;
}

.container { width: fit-content; margin:10px}